.question-block {
    width: 100%;
    max-width: 600px;
}

.next-button {
    background-color: gray;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    width: 100%;
}

.next-button:hover {
    background-color: darkgray;
}

.house-logo {
    width: 40px;
    margin-left: 10px;
    height: 30px;
}

.question-block {
    display: none;
}

.question-block.active {
    display: block;

}

/* Para pantallas grandes (desktops) */
@media (min-width: 1200px) {
    .question-block {
        max-width: 900px;
    }
}

/* Para pantallas medianas (tablets) */
@media (min-width: 768px) and (max-width: 1199px) {
    body {
        padding: 20px;
        /* Añade algo de padding para centrar mejor el contenido */
    }

    .question-block {
        max-width: 600px;
    }

    .house-logo {
        width: 40px;
        height: 30px;
    }
}

/* Para pantallas pequeñas (teléfonos) */
@media (max-width: 767px) {
    body {
        padding: 15px;
    }

    .question-block {
        padding: 10px;
    }

    .next-button {
        padding: 8px 15px;
        font-size: 14px;
    }

    .house-logo {
        width: 30px;
        height: 25px;
    }
}

/* Para pantallas extra pequeñas (iPhone 5) */
@media (max-width: 320px) {
    body {
        padding: 15px;
    }

    .question-block {
        padding: 15px;
    }

    .next-button {
        padding: 6px 10px;
        font-size: 12px;
    }

    .house-logo {
        width: 25px;
        height: 20px;
    }
}